<div class="container">
	<div class="mainpage-text">
		<h3>Om Mig</h3>
		<p>
			Mitt namn är då Olof, som det står ganska stort längst upp på sidan. Just nu håller jag på och försöker få jobb. Helst av allt vill jag jobba som webutvecklare men vad som helst inom mjukvaruutveckling skulle vara spännande. Jag har programmerat ganska länge, första erfarenheterna var nog i slutet av 90-talet någon gång men det har inte blivit något allvarligt av det förrän nu. 
		</p>
		
		<br>

		<h3>Den här Sidan</h3>
		<p>
			Jag har tänkt använda den här sidan dels som en slags portfolio där jag kan visa upp mina talanger och även som ett sätt att utvecklas som programmerare. Än så länge är det ganska tomt på sidan men den kommer att växa allteftersom. 
		</p>	
		<p>
			Jag tänker att det kan vara intressant att veta hur jag gjort sidan också. Den är byggd med ett "MEAN" framework. Alltså MongoDB, Express, AngularJS och Node. Lite andravarktyg jag använt är Grunt, Bower, Sass. Har testat ganska mycket den senaste tiden, och lärt mig väldigt mycket också. Jag har koden på Github så klicka på länken till höger och titta där vettja.
		</p>
	</div>

	<div class="icons">
		<div id="git">
			<a href="https://github.com/olofekelund" target="_blank"><img src="img/icon/icon-git.png" alt="Github Link"></a>
		</div>
		<div id="mail">
			<a href="mailto:olof.ekelund84@gmail.com"><img src="img/icon/icon-mail.png" alt="E-Mail Link"></a>
		</div>
	</div>

	<div class="portrait">
		<img class ="img-circle" src="bg/face.png" alt="Portrait">
	</div>
		
	<div class="mountains">
		<div class="trapezoid"></div>
	</div>

</div>